{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel='stylesheet' href="{% static 'assets/css/style3.css' %}">
    
</head>
<body class="col1">
    <div class="row ">
        <div class="logi">
        <div class="col ">
            <img class="img1" src="{% static 'assets/images/loginside.jpg' %}">
        </div>
        <div class="col " >
            <h2 style="text-align: left; font-size: 30px; color:#19376D">Welcome BACK :)</h2>
            <h2 style="text-align: left; font-size: 30px; color:#576CBC">Sign In to your Account</h2>
            <p style="text-align: left; color: grey;">Don't have an account? Create now  <a href="/signup">Signup</a></p>
              

            <div>

              <style>
                  h5{
                      color: black;
                  }
              </style>
              {% for message in messages %}
              <h5>{{message}}</h5>
              {% endfor %}
          </div>

            <form action="" method="POST" >
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1"   class="form-label"><b>Email</b> </label><br>
                    <input type="email" name="email" autocomplete="off" class="form-control inputf" placeholder="enter your email address" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                  </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label"><b>Password</b></label><br>
                  <input type="password" name="password" class="form-control inputf" id="exampleInputPassword1" autocomplete="new-password">
                </div><br>
                <button type="submit" class="btn btn-primary butd">Sign In</button>
              </form>
        </div>
        </div>
    </div>
</body>
</html>