{% load static %}

<!DOCTYPE html>
<html>
<head>
    
    <title>Page Title</title>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'assets/css/style4.css' %}">
  
</head>
<body>
      <div class="box">
        <img src="{% static 'assets/images/sad.png' %}">

        <h1>Your Result is here!!!</h1>
        <p><b class="det">parkinson disease </b> is detected after successfully processing files you have uploaded.</p>
        <p>Don't worry consult nearby doctor.</p>
        <a href="/userpage"><button><img style="width:13px;height:13px;" src="{% static 'assets/images/user.png' %}"> Go to your profile</button></a>
  
        
    </div>
</body>
</html>